<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageName%></title>
</head>
<body>
    <h1><%=pageName%></h1>
    <form action="/createPost" method="post">
       <input type="text" name="title" id="title"> <br> <br>
       <textarea name="content" id="content" cols="50" rows="10"></textarea><br> <br>
       <input type="text" name="image" id="image"><br> <br>
       <button type="submit"> Post </button>
    </form>
</body>
</html>