<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageName%></title>
</head>
<body>
    <h1><%=pageName%></h1>
    <form action="/" method="post">
        <input type="text" name="mail" id="mail" placeholder="email"> <br> <br>
        <input type="text" name="username" id="username" placeholder="username">
        <input type="text" name="shownName" id="shownName" placeholder="Shown Name">
        <input type="password" name="password" id="password" placeholder="password"> <label for="admin"> poster </label>
        <input type="checkbox" name="admin" id="admin" value="true"> <br> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>