<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%pageName%></title>
</head>
<body>
    <h1><%=pageName%></h1>
    <form action="/" method="post">
        <input type="text" name="mail" id="mail" placeholder="email"> <br> <br>
        <input type="password" name="name" id="name" placeholder="password"> <br> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>