<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageName%></title>
</head>
<body>
    <style>
        nav{
            width: 100%;
            display: flex;
            justify-content:space-around;
        }
        nav>a{
            padding: 10px;
            background-color:rgb(13, 84, 135);
            border-radius: 3px;
            text-decoration: none;
            color: azure;
        }
        nav>a:hover{
            background-color: rgb(9, 62, 100);
            color: rgb(192, 204, 204);
        }
    </style>
    <nav>
        <a href="/posts">Posts</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
    </nav>
    <h1><%=pageName%></h1>
    <form action="/login" method="post">
        <input type="text" name="emailOrUName" id="emailOrUName" placeholder="Email or Username">
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <h1><%=loginAnswer%></h1>
</body>
</html>